* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
}

.start {
  place-self: center;
  padding: 8px 24px;
  margin-top: 20px;
}

.info-container {
  place-items: center;
  display: grid;
  gap: 10px;
}

.container {
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 150px));
  grid-template-rows: repeat(3, minmax(50px, 150px));
  place-content: center;
}

.container > button {
  /* border: 1px solid black; */
  /* display: grid; */
  /* place-content: center; */
  /* height: 100%;
    width: 100%; */
  font-size: min(40vw, 7rem);
}
